<nav>
    <a class="btn btn-danger btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-plus"></i>
        New Email
    </a>
    <ul class="nav">
        <li class="nav-item" style="background: silver;">
            <a class="nav-link" routerLink="./inbox"><i class="fa fa-inbox"></i> Inbox</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./draft"><i class="fa fa-star"></i> Drafts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./sent"><i class="fa fa-rocket"></i> Sent Mail</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./trash"><i class="fa fa-trash-o"></i> Trash</a>
        </li>
    </ul>
</nav>

