<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/home/inbox" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div *ngIf="router.url === '/' || router.url === '/signUp'" class="text-end">
                <a routerLink="/">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a routerLink="/signUp">
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </a>
            </div>

            <div *ngIf="router.url !== '/' && router.url !== '/signUp'" class="text-end">
                <a routerLink="/">
                    <button type="button" class="btn btn-warning" (click)="logout()">LogOut</button>
                </a>
            </div>
        </div>
    </div>
</header>
