.toDraft{
  margin: 5px;

  color: white;
  background: red;
  width: 200px;
  height: 47px;
  position: relative;

  border-color: red;
  border-radius: 5px ;
}

.card-body {
  background: #2C3E50;
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
  background: linear-gradient(to right, #4CA1AF, #2C3E50);
}

.card {
  border-color: #428392;
}
