<div class="col-md-10 offset-md-1" style="margin-bottom: 10px; margin-top: 10px;">
  <div class="card">

    <div class="card-header" role="tab" id="headingOne">
      <div class="mb-0">

        <div class="position-relative" style="height: 30px;">
          <!-- Icons -->
          <span class="fa fa-file-text-o fa-lg position-absolute top-0 start-0" aria-hidden="true"></span>
          <span 
            *ngIf="!removeLoading" 
            class="fa fa-trash-o fa-lg my-btn position-absolute top-0 end-0 w-auto"
            (click)="removeEmail()">
          </span>
          <span 
            *ngIf="router.url=='/home/emails/trash'"
            class="fa fa-undo fa-lg btn-link position-absolute top-0 end-0 w-auto"
            style="margin-right: 4%;"
            aria-hidden="true"
            (click)="undoRemoveFromInbox()">
          </span>
          <span 
            type="button"
            *ngIf="router.url=='/home/emails/inbox'"
            class="fa fa-reply fa-lg my-btn position-absolute top-0 end-0"
            style="margin-right: 4%;"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="updateReceiverModalContent()">
          </span>
          <span 
            *ngIf="router.url=='/home/emails/draft'"
            class="fa fa-plus fa-lg my-btn position-absolute top-0 end-0"
            style="margin-right: 4%;" 
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="updateModalContent()">
          </span>
          <div  *ngIf="removeLoading" class="spinner-border text-danger position-absolute  end-0" role="status"></div>
        </div>
        <a href="" (click)="markAsSeen()" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+email._id" aria-expanded="false" aria-controls="flush-collapseOne">
          <h3 *ngIf="email.sender != user.email && !email.seen " class="alert alert-success">From: {{email.sender}}</h3>
          <h3 *ngIf="email.sender != user.email && email.seen ">From: {{email.sender}}</h3>
          <h3 *ngIf="email.sender == user.email">To: {{email.receiver}}</h3>
          <p>Subject: {{email.subject}}</p>
        </a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>

    <div [id]="'collapse'+email._id" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

      <div class="input-group-prepend">
        <span style="margin-left: 2px"><strong> From:</strong> </span>
      </div>
      <span style="margin-left: 2px" >{{email.sender}}</span>

      <div class="input-group-prepend">
        <span><strong> Subject: </strong></span>
      </div>
      <span>{{email.subject}}</span>

      <div class="input-group-prepend">
        <span><strong> Body</strong></span>
      </div>
      <span>{{email.body}}</span>

      <div class="input-group-prepend">
        <span><strong> Attachments</strong></span>
      </div>
      <ul class="nav flex-column">
        <div *ngIf="!downloadLoading">
          <li  class="nav-item" *ngFor="let file of email.attachments">
            <button (click)="download(file)">{{file}}<i class="fa fa-download"></i></button>
          </li>
        </div>
        <div  *ngIf="downloadLoading" class="spinner-border text-bg-light " role="status"></div>


      </ul>

    </div>
  </div>
</div>
